.wp-block-ept-user-flow-claim-business {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: var(--wp--preset--color--ept-gray-500);
  color : var(--wp--preset--color--ept-white);
  transition:color 0.3s;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding:1rem;
  padding-top:0
}

.wp-block-ept-user-flow-claim-business .v-aligner {
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.wp-block-ept-user-flow-claim-business > header {
  font-size:larger;
  text-align: center;
  padding:1rem;
}
.wp-block-ept-user-flow-claim-business #own-business-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.wp-block-ept-user-flow-claim-business .business-search{
  color: black;
  margin-top:1rem;
}

.wp-block-ept-user-flow-claim-business #own-business-form>button {
  margin-top:1rem;
  border-radius:1rem;
  background-color: var(--ept-gray-700);
  padding:0.3rem;
}

.wp-block-ept-user-flow-claim-business #own-business-form>button:hover {
  background-color: var(--ept-gray-600);
}  

.wp-block-ept-user-flow-claim-business .ui-autocomplete{
background-color:white;
}

.wp-block-ept-user-flow-claim-business .ui-menu-item{
  background-color:white;

}