/* Contact form */
.wp-block-ept-user-flow-my-business {
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  color : var(--wp--preset--color--ept-white);
  transition:color 0.3s;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding:1rem;
  padding-top:0
}

.wp-block-ept-user-flow-my-business .v-aligner {
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.wp-block-ept-user-flow-my-business > header {
  font-size:larger;
  text-align: center;
  padding:1rem;
}
.wp-block-ept-user-flow-my-business .list-title {
  font-size:1.5rem;
}
.wp-block-ept-user-flow-my-business .business-list, .list-title{
  margin:.66rem;
  margin-left:1.2rem;
}
.wp-block-ept-user-flow-my-business .business-list>li>{
  margin:.3rem;
}

.wp-block-ept-user-flow-my-business .add-duo {
  margin: 0.33rem;
  background-color: inherit;
  width:fit-content;
}

.wp-block-ept-user-flow-my-business i,button{
  background-color: inherit;
}

.wp-block-ept-user-flow-my-business .add-label{
  margin:.66rem;
}

.wp-block-ept-user-flow-my-business .business-list .list-item {
  font-size:large;
}

.wp-block-ept-user-flow-my-business >a:hover , .business-list a:hover {
  text-decoration: underline;
  color:var(--wp--preset--color--ept-gray-200)
}